* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 1em;
    background: #F1F4F8;
}
.greeting {
    display: inline-block;
}
.header {
    height: 2.5em;
    border-bottom: 1px solid black;
}
.nav_bar {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
    margin-left: 10em;
}
.nav_bar > li {
    display: inline-block;
    text-align: center;
    line-height: 2em;
    height: 2em;
    width:10em;
}
.nav_link {
    width: 10em;
    color: #36494E;
    text-decoration: none;
    padding: 0.7em;
}
li:hover{
    color: black;
    background-color:#5B92E5;
    box-shadow: 2px 2px 3px black;

}
.first_nav {
    border-right: 1px solid black;
}
.mid_nav {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.last_nav {
    border-right: 1px solid black;
}
.sign_out {
    float: right;
    margin-top: -0.5em;
    margin-right: 1em;
    color: #36494E;
    padding: 0.5em;
    width: 5em;
    text-align: center;
    border: 1px solid black;
    text-decoration: None;
}
.sign_out:hover {
    background-color: #5B92E5;
    color: white;
}
.profile_img {
    margin-top: 1em;
    background-color: white;
    position: absolute;
    top: 0em;
    margin-left: 0.5em;
    border: 1px solid black;
    width: 4em;
    border-radius: 50%;
}
.profile_img:hover {
    border: 1px solid #5B92E5;
    box-shadow: 2px 2px 3px black;

}
.selected {
    background-color: #5B92E5;
    box-shadow: 2px 2px 3px black;

}
.update_info {
    margin-top: 3em;
    margin-left: 3em;
}
.purple {
    color: #515B87;
}
.blue {
    color: #5B92E5;
}
