* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 1em;
    background: #F1F4F8;
}
.greeting {
    display: inline-block;
}
.header {
    height: 2.5em;
    border-bottom: 1px solid black;
}
.nav_bar {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
    margin-left: 10em;
}
.nav_bar > li {
    display: inline-block;
    text-align: center;
    line-height: 2em;
    height: 2em;
    width:10em;
}
.nav_link {
    width: 10em;
    color: #36494E;
    text-decoration: none;
    padding: 0.7em;
}
li:hover{
    color: black;
    background-color:#5B92E5;
    box-shadow: 2px 2px 3px black;

}
.first_nav {
    border-right: 1px solid black;
}
.mid_nav {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.last_nav {
    border-right: 1px solid black;
}
.sign_out {
    margin-right: 1em;
    margin-left: 10em;
    color: #36494E;
    padding: 0.5em;
    width: 5em;
    text-align: center;
    border: 1px solid black;
    text-decoration: None;
}
.sign_out:hover {
    background-color: #5B92E5;
    color: white;
    box-shadow: 2px 2px 3px black;
}
.profile_img {
    margin-top: 1em;
    background-color: white;
    position: absolute;
    top: 0em;
    margin-left: 0.5em;
    border: 1px solid black;
    width: 4em;
    border-radius: 50%;
}
.profile_img:hover {
    border: 1px solid #5B92E5;
    box-shadow: 2px 2px 3px black;

}
.toggle_links {
    margin-left: 24em;
    margin-top: 2em;
    height: 3em;
    overflow: visible;
}
.toggle_link{
    font-size: 20px;
    width: 8em;
    text-decoration: none;
    color:  #5B92E5;
}
.toggle {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin-left: -.3em;
    width: 10em;
}
.hide {
    background-color: #5B92E5;
}
.all_stores{
    padding: 1em;
    margin-left: 1em;
    width: 90%;
    height: 28em;
    overflow: auto;
}
.store_disp {
    width: 100%;
    height: 10em;
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-bottom: 2em;
    overflow-x: scroll;
}
.product {
    display: inline-block;
    margin-left: 1em;
}
.product_img {
    width: 7em;
    height: 7em;
    margin-top: 1em;
}
.selected {
    background-color:#5B92E5;
    box-shadow: 2px 2px 3px black;

}
.left {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
.right {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

}
.centered {
    margin-left: 30em;
    margin-top: 5em;
    text-align: center;
    display: inline-block;
}
.store_info {
    margin-left: 15em;
    margin-top: 3em;
}
.store_info > table {
    padding: 1em;
    border-spacing: 2em;
}
.purple {
    color: #515B87;
}
.blue {
    color: #5B92E5;
}
