<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>eDojo-Dash</title>
  <meta name="description" content="eMarketPlace where users can buy, sell and trade products">
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/css/main.css'%}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
  <div class='header'>
    <h1 class='greeting'><span class='purple'>e</span><span class='blue'>Dojo</span></h1>
    <img src="{% static 'dashboard/images/default-profile.png'%}" class='profile_img'>

    <ul class='nav_bar'>
      <li class='selected'><a href="{% url 'dash:home' %}" class='nav_link'>Home</a></li>
      <li><a href='' class='nav_link '>Explore</a></li>
      <li><a href='' class='nav_link '>My Shops</a></li>
      <li><a href="{% url 'users:editUser' %}" class='nav_link '>Account</a></li>
    </ul>
    <a href="{% url 'users:logout' %}" class='sign_out'>Sign Out</a>
  </div>

  <div id='wrapper'>
    <div class='toggle_links'>
      <div class='toggle'>
        <a href='' class='toggle_link'>Followed Stores</a>
      </div>
      <div class='toggle'>
        <a href='' class='toggle_link'>Popular Stores</a>
      </div>
    </div>
  
    <div class='all_stores'>
        <div class='store_disp'>
          <p class='store_name'>iSellThings</p>
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (1).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (3).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (1).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
        </div>
        <div class='store_disp'>
          <p class='store_name'>iSellThings</p>
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (1).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (3).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (3).jpeg' %}" class='product_img'></div>          
        </div>
        <div class='store_disp'>
          <p class='store_name'>iSellThings</p>
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (1).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (3).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download.jpeg' %}" class='product_img'></div>  
          <div class='product'><img src="{% static 'dashboard/images/download (2).jpeg' %}" class='product_img'></div>     
          <div class='product'><img src="{% static 'dashboard/images/download (3).jpeg' %}" class='product_img'></div>          
        </div>
  
  
      {% for store in followed_stores %}
        <div class='store_disp'>
          <p class='store_name'>{{store.name}}</p>
          {% for product in store.products %}
            <div class='product'><img src='' class='product_img'></div>     
          {% endfor %}
        </div>
      {% endfor %}    
    </div>
  </div>

</body>
</html>
